:root{
    --background:#fff;
    --header:#ddd;
    --content:#ccc;
    --secondary:#eee;
    --highlight:rgb(26, 126, 219);
    --radius:5px;
}
.darkMode{
    --background:#000;
    --header:#333;
}
body{
    font-family: 'Roboto Mono', monospace;
}

a:link { text-decoration: none; color:inherit;}
a:visited { text-decoration: none; color:inherit;}
a:hover { text-decoration: none; color:var(--highlight)}
a:active { text-decoration: none; }

body{
    display:grid;
    grid-template-areas: "header" "content";
    grid-template-rows:50px auto;
    margin:0;
}

#header{
    background-color: var(--header);
    width: 100%;
    grid-area:header;
    display:flex;
    flex-direction: row;
    place-content: space-between;
    place-items: center;
}
#title{
    margin:10px;
    font-weight: 700;
}
#navBar{
    margin:10px;    
}

#stepHolder{
    display: flex;
    flex-direction: row;
    gap:10px;
    margin: 10px;
    background-color: var(--secondary);
    border-radius: var(--radius);
    padding:5px;
    font-weight: 600;
    place-items: center;
}
.stepNum{
    cursor: pointer;
    font-size: 1.2em;
}
#step{
    background-color: var(--content);
    border-radius: var(--radius);
    margin:20px;
    padding:10px;
    min-height: 300px;
    display:flex;
    flex-direction: column;
    /* place-content: space-between; */
}
#stepInstruction{
    background-color: var(--secondary);
    border-radius: var(--radius);
    padding:5px;
}
.stepSelected{
    color:var(--highlight);
}
#stepImg{
    margin:10px;
    max-height: 600px;
}
#stepButtons{
    display:flex;
}
#nextStep, #prevStep{
    background-color: var(--secondary);
    padding: 5px;
    text-align: center;
    border-radius: var(--radius);
    cursor: pointer;
    margin: 5px;
    flex-grow: 1;
    /* place-self: flex-end; */
    /* width: 100%; */
}
#nextStep:hover, #prevStep:hover{
    background-color: var(--highlight);
}